In [8]:
import pandas as pd
import numpy as np
import math
from src.TCO import *

In [46]:
output_fuel_cost = pd.read_csv("data/output/fuel_cost_output.csv")
output_veh_cost = pd.read_csv("data/output/veh_cost_output.csv")
output_veh_cost

,year,base_vehicle,driveline,charging_point,storage_cng,depollution_veh_cost,electronic_euro,battery_total,fuel_cell_total,storage_total,subsidies,veh_price,veh_cost,powertrain_type,region
0,2021,20000.0,6800.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,26800.000000,4140.891473,ICE-G,western europe
1,2022,20000.0,6800.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,26800.000000,4140.891473,ICE-G,western europe
2,2023,20000.0,6800.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,26800.000000,4140.891473,ICE-G,western europe
3,2024,20000.0,6800.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,26800.000000,4140.891473,ICE-G,western europe
4,2025,20000.0,6800.0,NaN,NaN,4190.0,NaN,NaN,NaN,NaN,0.0,30990.000000,4788.292043,ICE-G,western europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,2026,20000.0,3500.0,NaN,NaN,0.0,4881.010154,1435.055948,10355.699148,2260.894500,-5000.0,37432.659749,5064.453066,FCEV,western europe
66,2027,20000.0,3500.0,NaN,NaN,0.0,4636.959646,1377.653710,9456.996458,2136.545302,-5000.0,36108.155116,4885.254163,FCEV,western europe
67,2028,20000.0,3500.0,NaN,NaN,0.0,4405.111664,1322.547561,8631.797733,2019.035310,-5000.0,34878.492268,4718.886883,FCEV,western europe
68,2029,20000.0,3500.0,NaN,NaN,0.0,4184.856081,1269.645659,7874.285111,1907.988368,-5000.0,33736.775219,4564.418233,FCEV,western europe
69,2030,20000.0,3500.0,NaN,NaN,0.0,3975.613277,1218.859833,7179.092326,1803.049008,-4500.0,33176.614443,4488.631261,FCEV,western europe

In [51]:
def get_euro_seven_impact_fuel(input_fuel_cost, euro_seven_input):
    # TODO Check if fuel_type exists before filtering


    request = (euro_seven_input['region'] == input_fuel_cost['region']) & (euro_seven_input['fuel_type'] == input_fuel_cost['fuel_type'])

    euro_seven_value = euro_seven_input.loc[request, ["year","extra_fuel_consumption"]].reset_index(drop=True)


    return euro_seven_value

In [62]:
input_veh_price = pd.read_csv("data/input_veh_price.csv")
input_veh_price

,powertrain_type,region,fuel_type,base_vehicle,driveline,storage_cng,indicator_euro_impact_veh_cost,storage_capicity,storage_cost,battery_capacity,...,fuel_cell_capcity,fuel_cell_cost,electronics_units,charging_point,indicator_subsidies,subsidies_rate,subsidies_year,financial_rate,residual_rate,year_amortization
0,ICE-G,western europe,Gasoline,20000,6800,NaN,True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,NaN,NaN,2,30,5
1,ICE-D,western europe,Diesel,20000,8800,NaN,True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,NaN,NaN,2,30,5
2,CNG,western europe,CNG,20000,6800,1917.0,False,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,NaN,NaN,2,25,5
3,HEV,western europe,HEV,20000,8300,NaN,True,NaN,NaN,2.0,...,NaN,NaN,20.0,NaN,False,NaN,NaN,2,30,5
4,PHEV,western europe,PHEV,20000,10800,NaN,True,NaN,NaN,8.0,...,NaN,NaN,80.0,1500.0,True,0.50,7.0,2,30,5
5,BEV,western europe,NaN,20000,7500,NaN,False,NaN,NaN,55.0,...,NaN,NaN,80.0,1500.0,True,0.75,6.0,2,42,5
6,FCEV,western europe,NaN,20000,3500,NaN,False,6.0,500.0,8.0,...,75.0,300.0,80.0,NaN,True,1.00,9.0,2,40,5
7,ICE-G,china,Gasoline,20000,6800,NaN,False,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,NaN,NaN,2,30,5
8,ICE-D,china,Diesel,20000,8800,NaN,False,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,NaN,NaN,2,30,5
9,CNG,china,CNG,20000,6800,1917.0,False,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,NaN,NaN,2,25,5
10,HEV,china,HEV,20000,8300,NaN,False,NaN,NaN,2.0,...,NaN,NaN,20.0,NaN,False,NaN,NaN,2,30,5
11,PHEV,china,PHEV,20000,10800,NaN,False,NaN,NaN,8.0,...,NaN,NaN,80.0,NaN,True,0.50,1.0,2,30,5
12,BEV,china,NaN,20000,7500,NaN,False,NaN,NaN,55.0,...,NaN,NaN,80.0,NaN,True,1.00,1.0,2,42,5
13,FCEV,china,NaN,20000,4000,NaN,False,6.0,500.0,8.0,...,75.0,300.0,80.0,NaN,True,1.00,1.0,2,40,5

In [21]:
def calculate_insurance(veh_cost, insurance_rate):
    veh_cost_filter = veh_cost.loc[(veh_cost['powertrain_type'] == insurance_rate['powertrain_type']) & (veh_cost['region'] == insurance_rate['region']), :].reset_index(drop=True)
    veh_cost_filter['insurance_euro'] = veh_cost_filter['veh_price'] * insurance_rate['insurance_rate'] / 100
    veh_cost_filter['mr_euro'] = veh_cost_filter['veh_price'] * insurance_rate['mr_rate'] / 100
    return veh_cost_filter


def calculate_TCO(fuel_cost, veh_cost, input_rate, quartiles):
    veh_cost_insurance = pd.concat([calculate_insurance(veh_cost, input_rate.iloc[i, :].to_dict()) for i in range(7)])
    
    
    
    alldata = pd.merge(fuel_cost, veh_cost_insurance, on=["powertrain_type", "region", "year"])
    
    print(alldata.columns)
    print(quartiles.columns)

    #  quartiles= pd.read_csv("data/population_quartile.csv")

    df = pd.merge(alldata[['powertrain_type', 'region', 'year', 'veh_cost', 'fuel_cost', 'insurance_euro', 'mr_euro']], quartiles, on=['year', 'region'])


    df['TCO'] = (df['veh_cost'] + df['insurance_euro'] + df['mr_euro']) / df['km'] + (df['fuel_cost'] / 100)

    df['TCO_percent'] = df['TCO'] * df['value'] / 100

    return df

In [54]:
input_fuel_df = pd.read_csv("data/euro_seven_impact.csv")

In [55]:
input_fuel_df

,region,year,fuel_type,depollution_veh_cost,extra_fuel_consumption
0,western europe,2021,Gasoline,0,0
1,western europe,2022,Gasoline,0,0
2,western europe,2023,Gasoline,0,0
3,western europe,2024,Gasoline,0,0
4,western europe,2025,Gasoline,4190,10
...,...,...,...,...,...
315,rest of asia,2036,PHEV,0,0
316,rest of asia,2037,PHEV,0,0
317,rest of asia,2038,PHEV,0,0
318,rest of asia,2039,PHEV,0,0
319,rest of asia,2040,PHEV,0,0

In [25]:
input_rate = pd.read_csv("data/input_rate.csv")
quartiles= pd.read_csv("data/population_quartile.csv", sep=",")

TCO = calculate_TCO(output_fuel_cost, output_veh_cost, input_rate, quartiles)

Index(['year', 'fuel_price', 'fuel_consumption', 'extra_fuel_consumption',
       'adblue_price', 'adblue_consumption', 'hydrogen_price',
       'hydrogen_consumption', 'elec_price', 'elec_cons', 'fuel_cost',
       'powertrain_type', 'region', 'base_vehicle', 'driveline',
       'charging_point', 'storage_cng', 'depollution_veh_cost',
       'electronic_euro', 'battery_total', 'fuel_cell_total', 'storage_total',
       'subsidies', 'veh_price', 'veh_cost', 'insurance_euro', 'mr_euro'],
      dtype='object')
Index(['region', 'year', 'quartile', 'km', 'value'], dtype='object')

In [2]:
def calculate_competitveness_factor(row, factor=2): 
    if (math.isnan(row['TCO_VAR']) == False): 
        A = row['TCO_AVG'] - row['TCO_MIN']
        B = row['TCO_AVG_POWERTRAIN'] - row['TCO_MIN']
        F = row['TCO_AVG'] / factor
        
        return np.exp(0.5 * (A / F)**2) * np.exp(-0.5 * (B / F)**2)
    else: 
        return np.nan
    
def calculate_veh_cot_factor(row, factor=1.5): 
    try:
        if (math.isnan(row['veh_price_ihs_avg_previous']) == False): 
            A = row['veh_price_ihs_avg_previous'] - row['veh_price_km_min']
            B = row['veh_price_km'] - row['veh_price_km_min']
            F = row['veh_price_ihs_avg_previous'] / factor

            return np.exp(0.5 * (A / F)**2) * np.exp(-0.5 * (B / F)**2)
        else: 
            return np.nan
    except: 
        return np.nan

def define_powertrain(row):
    if ((row['e_propulsion_system_design'] == 'ICE') | (row['e_propulsion_system_design'] == 'ICE: Stop/Start')) &\
    ((row['e_fuel_type'] == 'DIESEL') | (row['e_fuel_type'] == 'DIESEL-CNG')):
        return "ICE-D"
    
    if ((row['e_propulsion_system_design'] == 'ICE') | (row['e_propulsion_system_design'] == 'ICE: Stop/Start')) &\
        ((row['e_fuel_type'] == 'GAS') | (row['e_fuel_type'] == 'GAS-CNG') |\
         (row['e_fuel_type'] == 'GAS-E100') | (row['e_fuel_type'] == 'GAS-E85') | \
         (row['e_fuel_type'] == 'GAS-LPG') | (row['e_fuel_type'] == 'GAS-M100')):
        return "ICE-G"

    if ((row['e_propulsion_system_design'] == 'ICE') | (row['e_propulsion_system_design'] == 'ICE: Stop/Start')) &\
        (row['e_fuel_type'] == 'CNG'):
        return "CNG"

    if ((row['e_propulsion_system_design'] == 'ICE') | (row['e_propulsion_system_design'] == 'ICE: Stop/Start')) &\
        (row['e_fuel_type'] == 'Hydrogen'):
        return "HICEV"

    if ((row['e_propulsion_system_design'] == 'ICE') | (row['e_propulsion_system_design'] == 'ICE: Stop/Start')) &\
        (row['e_fuel_type'] == 'LPG'):
        return "ICE-LPG"

    if  ((row['e_propulsion_system_design'] == "Hybrid-Mild") |\
        ( (row['e_propulsion_system_design'] == "Hybrid-Full") &\
         (row['e_propulsion_system_design2'] in ('HEV-Full (DIESEL)', 'HEV-Full (GAS)', 'HEV-Full (GAS-E100)',
                                                  'HEV-Full (GAS-E85)', 'HEV-Full (GAS-M100)', 'HEV-Full (LPG)')))):
        return "HEV"

    if (row['e_propulsion_system_design'] == "Hybrid-Full") &\
        ((row['e_propulsion_system_design2'] in ("PHEV-Full (DIESEL)" , "PHEV-Full (GAS)" , "PHEV-Full (GAS-E100)"))):
        return "PHEV"
    if (row['e_propulsion_system_design'] == "Electric"):
        return "BEV"

    if (row['e_propulsion_system_design'] == "Electric") &\
         ((row['e_fuel_type'] in ('GAS', 'GAS-E100'))):
        return "REEV"

    if (row['e_propulsion_system_design'] == "Fuel Cell"):
        return "FCEV"

    
def s3_correction_market_share(row):
    try: 
        if ((row['ratio_volume_previous'] + row["s2_ms_normalize_var"]) < 0): 
            return 0

        elif ((row['ratio_volume_previous'] + row["s2_ms_normalize_var"]) > 1):
            return 1-row['ratio_volume_previous'] 
        else: 
            return row["s2_ms_normalize_var"]
    except: 
        return np.nan

def s2_correction_market_share(row):
    try: 
        if ((row['ratio_volume_previous'] + row["s1_ms_normalize_var"]) < 0): 
            return -row['ratio_volume_previous'] / 2

        elif ((row['ratio_volume_previous'] + row["s1_ms_normalize_var"]) > 1):
            return 1-row['ratio_volume_previous'] 
        else: 
            return row["s1_ms_normalize_var"]
    except: 
        return np.nan
    
def s1_correction_market_share(row):
    try: 
        if ((row['ratio_volume_previous'] + row["s1_variation_factor"]) < 0): 
            return -row['ratio_volume_previous'] 

        elif ((row['ratio_volume_previous'] + row["s1_variation_factor"]) > 1):
            return 1-row['ratio_volume_previous'] 
        else: 
            return row["s1_variation_factor"]
    except: 
        return np.nan

In [3]:
prop_powertrain = pd.read_csv("/home/cdsw/data/powertrain_propulsion_system.csv")

prop_powertrain.rename(columns={"propulsion_system_design": "e_propulsion_system_design2"}, inplace=True)
prop_powertrain['e_propulsion_system_design2'] = prop_powertrain['e_propulsion_system_design2'].str.lower()

ihs = pd.read_csv("/home/cdsw/data/ihs-202302.csv")


volumes = ihs\
    .groupby(['region', 'period_year', 'e_propulsion_system_design', 'e_propulsion_system_design2', 'e_fuel_type'])\
    .agg({"sum_volume" : sum}).reset_index()

volumes['powertrain'] = volumes.apply(lambda row: define_powertrain(row), axis=1)


agg_volume_powertrain = volumes.groupby(["region","period_year","powertrain"])\
    .agg({"sum_volume": sum})\
    .transform({"sum_volume": lambda x: x / 1E6})

sum_agg = agg_volume_powertrain.reset_index().groupby(['region','period_year']).sum().rename(columns={"sum_volume": "sum_powertrain"})

agg_volume_powertrain_per = pd.merge(agg_volume_powertrain.reset_index(), sum_agg, on=["region","period_year"])\
.assign(ratio_volume= lambda x: x["sum_volume"] / x["sum_powertrain"])\
.rename(columns={"period_year": "year", "powertrain": "powertrain_type"})\
.assign(region = lambda x: x['region'].str.lower())

In [281]:
agg_volume_powertrain_per.loc[(agg_volume_powertrain_per.year == 2022) & (agg_volume_powertrain_per.region == 'western europe'), :]

,region,year,powertrain_type,sum_volume,sum_powertrain,ratio_volume
1233,western europe,2022,BEV,1.203415,9.934707,0.121132
1234,western europe,2022,FCEV,0.000184,9.934707,0.000019
1235,western europe,2022,HEV,2.039382,9.934707,0.205279
1236,western europe,2022,ICE-D,2.369351,9.934707,0.238492
1237,western europe,2022,ICE-G,3.537112,9.934707,0.356036
1238,western europe,2022,PHEV,0.785263,9.934707,0.079042

In [13]:
veh_cost = pd.read_csv('data/output/veh_cost_output.csv')
tco_data = pd.read_csv('data/output/TCO.csv')


tco_data = pd.merge(tco_data, 
                    veh_cost[['powertrain_type', 'region', 'year', 'veh_price']],
                    on = ['powertrain_type', 'region', 'year'])



tco_data = pd.merge(tco_data, 
                    agg_volume_powertrain_per[['powertrain_type', 'region', 'year', 'ratio_volume']],
                    on = ['powertrain_type', 'region', 'year'], how="left")

tco_data['ratio_volume'] = tco_data['ratio_volume'].fillna(0)

In [15]:
s.columns

Index(['powertrain_type', 'region', 'year', 'veh_cost', 'fuel_cost',
       'insurance_euro', 'mr_euro', 'quartile', 'km', 'value', 'TCO',
       'TCO_percent', 'veh_price', 'ratio_volume', 'ratio_volume_previous'],
      dtype='object')

In [16]:
# s = tco_data.loc[:, ['powertrain_type', 'region', 'year', 'ratio_volume']].drop_duplicates()
# s['ratio_volume_previous'] = s.groupby(['region','powertrain_type'])['ratio_volume'].shift(1)
# tco_data = pd.merge(tco_data, s.drop('ratio_volume', axis=1), on = ['powertrain_type','region', 'year'])

In [32]:
tco_data.loc[:, ['powertrain_type', 'region', 'year', 'ratio_volume','TCO_AVG_POWERTRAIN', 'TCO_AVG' ]].query("year == 2021")

,powertrain_type,region,year,ratio_volume,TCO_AVG_POWERTRAIN,TCO_AVG
0,ICE-G,western europe,2021,0.385425,1.503917,0.0
4,ICE-D,western europe,2021,0.288441,1.592239,0.0
8,CNG,western europe,2021,0.000000,1.526376,0.0
12,HEV,western europe,2021,0.168145,1.438995,0.0
16,PHEV,western europe,2021,0.076144,1.459306,0.0
20,BEV,western europe,2021,0.081839,1.503324,0.0
24,FCEV,western europe,2021,0.000007,2.015531,0.0

In [33]:
tco_data.loc[:, ['powertrain_type', 'region', 'year', 'ratio_volume_previous','TCO_AVG_POWERTRAIN', 'TCO_Percent_ihs', 'TCO_AVG' ]].query("year == 2022")

,powertrain_type,region,year,ratio_volume_previous,TCO_AVG_POWERTRAIN,TCO_Percent_ihs,TCO_AVG
28,ICE-G,western europe,2022,0.385425,1.504660,0.579934,1.514001
32,ICE-D,western europe,2022,0.288441,1.593761,0.459705,1.514001
36,CNG,western europe,2022,0.000000,1.526880,0.000000,1.514001
40,HEV,western europe,2022,0.168145,1.438831,0.241932,1.514001
44,PHEV,western europe,2022,0.076144,1.456714,0.110920,1.514001
48,BEV,western europe,2022,0.081839,1.484585,0.121496,1.514001
52,FCEV,western europe,2022,0.000007,1.932353,0.000013,1.514001

In [28]:
tco_data.loc[:, ['year','TCO_Percent_ihs']].drop_duplicates().query("year == 2022")['TCO_Percent_ihs'].sum()

1.5140005497908893

In [313]:
veh_cost = pd.read_csv('data/output/veh_cost_output.csv')
tco_data = pd.read_csv('data/output/TCO.csv')


tco_data = pd.merge(tco_data, 
                    veh_cost[['powertrain_type', 'region', 'year', 'veh_price']],
                    on = ['powertrain_type', 'region', 'year'])



tco_data = pd.merge(tco_data, 
                    agg_volume_powertrain_per[['powertrain_type', 'region', 'year', 'ratio_volume']],
                    on = ['powertrain_type', 'region', 'year'], how="left")

tco_data['ratio_volume'] = tco_data['ratio_volume'].fillna(0)

tco_data['TCO_AVG_POWERTRAIN'] = tco_data.groupby(['region', 'year','powertrain_type'])["TCO_percent"].transform(sum)
tco_data.drop_duplicates(['powertrain_type', 'region', 'year'], inplace = True)

tco_data['ratio_volume_previous'] = tco_data.groupby(['region','powertrain_type'])['ratio_volume'].shift(1)
tco_data['TCO_Percent_ihs']= tco_data['TCO_AVG_POWERTRAIN'] * tco_data['ratio_volume_previous']
tco_data['TCO_AVG'] = tco_data.groupby(['region', 'year'])['TCO_Percent_ihs'].transform(sum)
tco_data['TCO_MIN'] = tco_data.groupby(['region', 'year'])["TCO_AVG_POWERTRAIN"].transform(min)

# tco_data['TCO_AVG_POWERTRAIN'] = tco_data.groupby(['region', 'year','powertrain_type'])["TCO_percent"].transform(sum)
# tco_data['TCO_AVG'] = tco_data.groupby(['region', 'year'])["TCO_AVG_POWERTRAIN"].transform(np.mean)



tco_data['veh_price_km'] = tco_data['veh_price'] / 1000
tco_data['veh_price_km_avg'] = tco_data.groupby(['region', 'year'])["veh_price_km"].transform(np.mean)
tco_data['veh_price_km_min'] = tco_data.groupby(['region', 'year'])["veh_price_km"].transform(min)

tco_data = tco_data[['powertrain_type', 'region', 'year', 'TCO_AVG_POWERTRAIN', 'TCO_AVG','TCO_MIN', 'veh_price_km','veh_price_km_avg', 'ratio_volume', 'ratio_volume_previous', 'veh_price_km_min']].drop_duplicates()
tco_data['TCO_VAR'] = tco_data.groupby(['powertrain_type', 'region'])['TCO_AVG_POWERTRAIN'].pct_change() 

tco_data['veh_price_ihs']= tco_data['veh_price_km'] * tco_data['ratio_volume_previous']
tco_data['veh_price_ihs_avg_previous'] = tco_data.groupby(['region', 'year'])['veh_price_ihs'].transform(sum)
# s = tco_data[['region', 'year', 'veh_price_ihs_avg']].drop_duplicates()
# s['veh_price_ihs_avg_previous'] = s['veh_price_ihs_avg'].shift(1)
# tco_data = pd.merge(tco_data, s.drop(['veh_price_ihs_avg'], axis=1), on = ['region', 'year'])

tco_data['TCO_Compet_factor'] = tco_data.apply(lambda x: calculate_competitveness_factor(x, factor = 2), axis=1)
tco_data['veh_cost_factor'] = tco_data.apply(lambda x: calculate_veh_cot_factor(x, factor = 1.5), axis=1)

s = tco_data[['region', 'year', 'powertrain_type', 'ratio_volume']].drop_duplicates()
s['ratio_volume_previous'] = s.groupby(['region','powertrain_type'])['ratio_volume'].shift(1)
s['ratio_volume_previous_minus'] = s.groupby(['region','powertrain_type'])['ratio_volume'].shift(2)
tco_data = pd.merge(tco_data, s.drop(['ratio_volume'], axis=1), on = ['region', 'year', 'powertrain_type'])
tco_data['s1_variation_factor'] = ((- tco_data['veh_cost_factor'] * tco_data['TCO_Compet_factor'] * tco_data['TCO_VAR']) \
                                   + ((tco_data['TCO_Compet_factor'] -1) * tco_data['veh_cost_factor']))\
                                    * (1 - tco_data['ratio_volume_previous'])

tco_data['s1_market_share_correction'] = tco_data.apply(lambda row : s1_correction_market_share(row), axis=1)

tco_data["s1_ms_normalize_var"] = tco_data['s1_market_share_correction'] -\
(tco_data["ratio_volume_previous_minus"] * tco_data.groupby(['region', 'year'])['s1_market_share_correction'].transform(sum))

tco_data['s2_market_share_correction'] = tco_data.apply(lambda row : s2_correction_market_share(row), axis=1)
tco_data["s2_ms_normalize_var"] = tco_data['s2_market_share_correction'] -\
(tco_data["ratio_volume_previous"] * tco_data.groupby(['region', 'year'])['s2_market_share_correction'].transform(sum))

tco_data['s3_market_share_correction'] = tco_data.apply(lambda row : s3_correction_market_share(row), axis=1)
tco_data["s3_ms_normalize_var"] = tco_data['s3_market_share_correction'] -\
(tco_data["ratio_volume_previous"] * tco_data.groupby(['region', 'year'])['s3_market_share_correction'].transform(sum))

tco_data['ms_normalize_var_cumsum'] = tco_data.groupby(['region','powertrain_type'])['s3_ms_normalize_var'].transform(np.cumsum)

In [314]:
tco_data

,powertrain_type,region,year,TCO_AVG_POWERTRAIN,TCO_AVG,TCO_MIN,veh_price_km,veh_price_km_avg,ratio_volume,veh_price_km_min,...,ratio_volume_previous,ratio_volume_previous_minus,s1_variation_factor,s1_market_share_correction,s1_ms_normalize_var,s2_market_share_correction,s2_ms_normalize_var,s3_market_share_correction,s3_ms_normalize_var,ms_normalize_var_cumsum
0,ICE-G,western europe,2021,1.503917,1.577098,1.438995,26.800000,32.532429,0.385425,26.800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ICE-D,western europe,2021,1.592239,1.577098,1.438995,28.800000,32.532429,0.288441,26.800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CNG,western europe,2021,1.526376,1.577098,1.438995,28.717000,32.532429,0.000000,26.800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HEV,western europe,2021,1.438995,1.577098,1.438995,28.740000,32.532429,0.168145,26.800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PHEV,western europe,2021,1.459306,1.577098,1.438995,31.560000,32.532429,0.076144,26.800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,CNG,western europe,2040,1.536864,1.589331,1.419819,28.717000,32.142732,0.000000,28.717,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,HEV,western europe,2040,1.512622,1.589331,1.419819,29.817620,32.142732,0.000000,28.717,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,PHEV,western europe,2040,1.602481,1.589331,1.419819,34.470480,32.142732,0.000000,28.717,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,BEV,western europe,2040,1.419819,1.589331,1.419819,34.984550,32.142732,0.000000,28.717,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,FCEV,western europe,2040,1.503537,1.589331,1.419819,34.029472,32.142732,0.000000,28.717,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [315]:
tco_data\
.query("region == 'western europe' and year < 2030 and powertrain_type == 'ICE-G'")\
.iloc[:15, :].transpose()

,0,7,14,21,28,35,42,49,56
powertrain_type,ICE-G,ICE-G,ICE-G,ICE-G,ICE-G,ICE-G,ICE-G,ICE-G,ICE-G
region,western europe,western europe,western europe,western europe,western europe,western europe,western europe,western europe,western europe
year,2021,2022,2023,2024,2025,2026,2027,2028,2029
TCO_AVG_POWERTRAIN,1.50392,1.50466,1.50541,1.50617,1.73818,1.73903,1.73989,1.74075,1.74163
TCO_AVG,1.5771,1.56254,1.54898,1.53634,1.60101,1.59009,1.57993,1.60776,1.59897
TCO_MIN,1.439,1.43883,1.43871,1.43862,1.43291,1.41709,1.40194,1.50792,1.49478
veh_price_km,26.8,26.8,26.8,26.8,30.99,30.99,30.99,30.99,30.99
veh_price_km_avg,32.5324,32.176,31.8426,31.5308,32.6646,32.3914,32.1355,32.7887,32.5642
ratio_volume,0.385425,0.356036,0.276148,0.174331,0.107558,0.043454,0.0202969,0.0106687,0.00656606
veh_price_km_min,26.8,26.8,26.8,26.8,28.717,28.717,28.717,28.717,28.717
TCO_VAR,NaN,0.000493711,0.000498402,0.000503135,0.15404,0.000488968,0.000493616,0.000498307,0.000503039
veh_price_ihs,10.3294,9.54176,7.40076,4.67208,3.33321,1.34664,0.629001,0.330622,0.203482
veh_price_ihs_avg,28.9291,29.2619,29.9251,30.5391,32.2851,32.3437,32.526,35.0238,35.3989
veh_price_ihs_avg_previous,NaN,28.9291,29.2619,29.9251,30.5391,32.2851,32.3437,32.526,35.0238
TCO_Compet_factor,NaN,1.00903,1.00645,1.00423,0.950598,0.94336,0.936019,0.966347,0.961583
veh_cost_factor,NaN,1.00611,1.008,1.01234,0.997775,1.0082,1.00863,1.00998,1.03225
ratio_volume_previous,NaN,0.385425,0.356036,0.276148,0.174331,0.107558,0.043454,0.0202969,0.0106687
ratio_volume_previous_minus,NaN,NaN,0.385425,0.356036,0.276148,0.174331,0.107558,0.043454,0.0202969
s1_variation_factor,NaN,0.00527375,0.00385968,0.00273263,-0.161333,-0.051377,-0.0621746,-0.0337756,-0.0397272
s1_market_share_correction,NaN,0.00527375,0.00385968,0.00273263,-0.161333,-0.051377,-0.043454,-0.0202969,-0.0106687
s1_ms_normalize_var,NaN,NaN,-0.00937452,-0.0050141,-0.0766503,-0.0460178,-0.0465549,-0.0167356,-0.0116481
s2_market_share_correction,NaN,NaN,-0.00937452,-0.0050141,-0.0766503,-0.0460178,-0.021727,-0.0167356,-0.00533433
s2_ms_normalize_var,NaN,NaN,-0.0093779,-0.00502981,-0.0766503,-0.0460178,-0.0232108,-0.0167356,-0.00541016
s3_market_share_correction,NaN,NaN,-0.0093779,-0.00502981,-0.0766503,-0.0460178,-0.0232108,-0.0167356,-0.00541016
s3_ms_normalize_var,NaN,NaN,-0.0093779,-0.00502981,-0.0766503,-0.0460178,-0.0232108,-0.0167356,-0.00541016
ms_normalize_var_cumsum,NaN,NaN,-0.0093779,-0.0144077,-0.091058,-0.137076,-0.160287,-0.177022,-0.182432

In [316]:
vol = tco_data[tco_data['year'] == 2023][['powertrain_type', 'year', 'region', 'ratio_volume']].rename(columns={'ratio_volume': 'base_volume'})

tco_data_preview = pd.merge(tco_data, vol, on = ['powertrain_type', 'region'])\
.query("year_x > year_y").drop(['year_y'], axis = 1)\
.rename(columns={'year_x': 'year'})


tco_data_preview["actual_volume"] = tco_data_preview["base_volume"] + tco_data_preview["s3_ms_normalize_var"]

In [317]:
tco_data_preview.transpose()

,3,4,5,6,7,8,9,10,11,12,...,130,131,132,133,134,135,136,137,138,139
powertrain_type,ICE-G,ICE-G,ICE-G,ICE-G,ICE-G,ICE-G,ICE-G,ICE-G,ICE-G,ICE-G,...,FCEV,FCEV,FCEV,FCEV,FCEV,FCEV,FCEV,FCEV,FCEV,FCEV
region,western europe,western europe,western europe,western europe,western europe,western europe,western europe,western europe,western europe,western europe,...,western europe,western europe,western europe,western europe,western europe,western europe,western europe,western europe,western europe,western europe
year,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,...,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040
TCO_AVG_POWERTRAIN,1.50617,1.73818,1.73903,1.73989,1.74075,1.74163,1.74251,1.74341,1.74431,1.74522,...,1.61729,1.60127,1.58576,1.57073,1.55618,1.54209,1.52845,1.51524,1.50357,1.50354
TCO_AVG,1.53634,1.60101,1.59009,1.57993,1.60776,1.59897,1.59381,1.61336,1.60954,1.60588,...,1.61336,1.60954,1.60588,1.60239,1.59905,1.59587,1.59284,1.58995,1.5886,1.58933
TCO_MIN,1.43862,1.43291,1.41709,1.40194,1.50792,1.49478,1.46992,1.49614,1.48393,1.47224,...,1.49614,1.48393,1.47224,1.46105,1.45035,1.44011,1.43031,1.42094,1.41918,1.41982
veh_price_km,26.8,30.99,30.99,30.99,30.99,30.99,30.99,30.99,30.99,30.99,...,36.6921,36.3187,35.9566,35.6056,35.2651,34.935,34.6148,34.3043,34.0295,34.0295
veh_price_km_avg,31.5308,32.6646,32.3914,32.1355,32.7887,32.5642,32.4253,32.8709,32.7632,32.6593,...,32.8709,32.7632,32.6593,32.5591,32.4624,32.3691,32.2791,32.1922,32.1427,32.1427
ratio_volume,0.174331,0.107558,0.043454,0.0202969,0.0106687,0.00656606,0.00281,0,0,0,...,0,0,0,0,0,0,0,0,0,0
veh_price_km_min,26.8,28.717,28.717,28.717,28.717,28.717,28.717,28.717,28.717,28.717,...,28.717,28.717,28.717,28.717,28.717,28.717,28.717,28.717,28.717,28.717
TCO_VAR,0.000503135,0.15404,0.000488968,0.000493616,0.000498307,0.000503039,0.000507814,0.000512632,0.000517493,0.000522397,...,0.100264,-0.00990675,-0.0096902,-0.00947577,-0.00926352,-0.00905349,-0.00884571,-0.00864023,-0.0077017,-2.39611e-05
veh_price_ihs,4.67208,3.33321,1.34664,0.629001,0.330622,0.203482,0.0870819,0,0,0,...,0,0,0,0,0,0,0,0,0,0
veh_price_ihs_avg,30.5391,32.2851,32.3437,32.526,35.0238,35.3989,35.7278,0,0,0,...,0,0,0,0,0,0,0,0,0,0
veh_price_ihs_avg_previous,29.9251,30.5391,32.2851,32.3437,32.526,35.0238,35.3989,35.7278,0,0,...,35.7278,0,0,0,0,0,0,0,0,0
TCO_Compet_factor,1.00423,0.950598,0.94336,0.936019,0.966347,0.961583,0.95464,0.964235,0.960636,0.957012,...,0.99928,1.00155,1.00387,1.00621,1.00857,1.01095,1.01332,1.01568,1.01725,1.01735
veh_cost_factor,1.01234,0.997775,1.0082,1.00863,1.00998,1.03225,1.03608,1.03953,NaN,NaN,...,0.987345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ratio_volume_previous,0.276148,0.174331,0.107558,0.043454,0.0202969,0.0106687,0.00656606,0.00281,0,0,...,0.00423092,0,0,0,0,0,0,0,0,0
ratio_volume_previous_minus,0.356036,0.276148,0.174331,0.107558,0.043454,0.0202969,0.0106687,0.00656606,0.00281,0,...,0.00265596,0.00423092,0,0,0,0,0,0,0,0
s1_variation_factor,0.00273263,-0.161333,-0.051377,-0.0621746,-0.0337756,-0.0397272,-0.0471875,-0.0375862,NaN,NaN,...,-0.0992127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
s1_market_share_correction,0.00273263,-0.161333,-0.051377,-0.043454,-0.0202969,-0.0106687,-0.00656606,-0.00281,NaN,NaN,...,-0.00423092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
s1_ms_normalize_var,-0.0050141,-0.0766503,-0.0460178,-0.0465549,-0.0167356,-0.0116481,-0.00702583,-0.00291818,NaN,NaN,...,-0.00427468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
s2_market_share_correction,-0.0050141,-0.0766503,-0.0460178,-0.021727,-0.0167356,-0.00533433,-0.00328303,-0.001405,NaN,NaN,...,-0.00211546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
s2_ms_normalize_var,-0.00502981,-0.0766503,-0.0460178,-0.0232108,-0.0167356,-0.00541016,-0.00331232,-0.00141685,NaN,NaN,...,-0.00213331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
s3_market_share_correction,-0.00502981,-0.0766503,-0.0460178,-0.0232108,-0.0167356,-0.00541016,-0.00331232,-0.00141685,NaN,NaN,...,-0.00213331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
s3_ms_normalize_var,-0.00502981,-0.0766503,-0.0460178,-0.0232108,-0.0167356,-0.00541016,-0.00331232,-0.00141685,NaN,NaN,...,-0.00213331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ms_normalize_var_cumsum,-0.0144077,-0.091058,-0.137076,-0.160287,-0.177022,-0.182432,-0.185745,-0.187162,NaN,NaN,...,0.14904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
base_volume,0.276148,0.276148,0.276148,0.276148,0.276148,0.276148,0.276148,0.276148,0.276148,0.276148,...,0.00011298,0.00011298,0.00011298,0.00011298,0.00011298,0.00011298,0.00011298,0.00011298,0.00011298,0.00011298
actual_volume,0.271118,0.199497,0.23013,0.252937,0.259412,0.270737,0.272835,0.274731,NaN,NaN,...,-0.00202033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN